workflow.json
{ "nodes": [ { "parameters": { "values": { "string": [ { "name": "seed_angels", "value": "Elad Gil, Nat Friedman, Daniel Gross, Gokul Rajaram, Jeff Dean, Wei Guo, Naval" } ] } }, "name": "Seed List", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [250, 300] }, { "parameters": { "functionCode": "const angels = items[0].json.seed_angels.split(',').map(a => ({ name: a.trim() }));\nreturn angels.map(a => ({ json: a }));" }, "name": "Split Angels", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [450, 300] }, { "parameters": { "method": "POST", "url": "https://api.sixtyfour.io/v1/agent/run", "authentication": "headerAuth", "bodyParametersUi": { "parameter": [ { "name": "prompt", "value": "Find 30 recent portfolio companies for investor {{ $json.name }} in AI, SaaS, and Infra. Return a JSON list of company names." } ] } }, "name": "SixtyFour: Find Portfolio", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "position": [650, 300], "credentials": { "headerAuth": { "id": "sixtyfour-api-key" } } }, { "parameters": { "method": "POST", "url": "https://api.sixtyfour.io/v1/agent/run", "bodyParametersUi": { "parameter": [ { "name": "prompt", "value": "Extract all named individual angel investors for the funding rounds of {{ $json.company_name }}. Exclude institutional VC funds. Return name and LinkedIn URL." } ] } }, "name": "SixtyFour: Extract Co-Investors", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "position": [850, 300] }, { "parameters": { "functionCode": "const investors = items.map(i => i.json);\nconst unique = [...new Map(investors.map(item => [item['name'], item])).values()];\nreturn unique.map(u => ({ json: u }));" }, "name": "Deduplicate & Aggregate", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1050, 300] }, { "parameters": { "method": "POST", "url": "https://api.sixtyfour.io/v1/enrich", "bodyParametersUi": { "parameter": [ { "name": "email", "value": "true" }, { "name": "phone", "value": "true" }, { "name": "linkedin", "value": "{{ $json.linkedin }}" } ] } }, "name": "SixtyFour: Enrich Leads", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "position": [1250, 300] } ], "connections": { "Seed List": { "main": [[{ "node": "Split Angels", "type": "main", "index": 0 }]] }, "Split Angels": { "main": [[{ "node": "SixtyFour: Find Portfolio", "type": "main", "index": 0 }]] }, "SixtyFour: Find Portfolio": { "main": [[{ "node": "SixtyFour: Extract Co-Investors", "type": "main", "index": 0 }]] }, "SixtyFour: Extract Co-Investors": { "main": [[{ "node": "Deduplicate & Aggregate", "type": "main", "index": 0 }]] }, "Deduplicate & Aggregate": { "main": [[{ "node": "SixtyFour: Enrich Leads", "type": "main", "index": 0 }]] } } }